services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/:/etc/prometheus/

volumes:
  prometheus_data:
