services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    user: 1000:1000
    ports:
      - 3000:3000
    volumes:
      - ./grafana:/var/lib/grafana
